@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: config.$max-widthHeigh;
  width: config.$content-width;

  @include mixins.mobile {
    width: calc(100% - 12px);
  }

  .button {
    margin: 20px 0px;
    @include mixins.button(config.$brand, config.$brand, config.$white);
  }

  .inputContainer {
    width: 350px;
    margin: 20px 0px;
    @include mixins.row-space-between-center();

    select {
      @include mixins.input();
      width: 160px;
    }
  }

  .textContainer {
    background: config.$greyBackground;
    border: 1px solid config.$grey;
    width: 100%;
    padding: 12px 4px;
    @include mixins.row-space-between-center();

    .text {
      display: flex;
      flex-direction: row-reverse;
    }

    p {
      margin: 0px 4px;
    }
  }

  .infoBox {
    width: 100%;
    @include mixins.row-space-between-center();
    align-items: flex-start;

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
    }
    @include mixins.tablet {
      display: flex;
      flex-direction: column;
    }

    .infoContainer {
      width: 49%;

      @include mixins.mobile {
        width: 100%;
      }
      @include mixins.tablet {
        width: 100%;
      }

      .address {
        border-bottom: 1px solid config.$grey;
        direction: rtl;
        padding: 12px;
        font-weight: 300;
        font-size: small;
      }
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
    box-shadow: config.$card-shadow;
    border: 1px solid config.$grey;
    border-bottom: none;

    @include mixins.mobile {
      width: 100%;
    }
    @include mixins.tablet {
      width: 100%;
    }

    .info,
    .header {
      padding: 8px;
      border-bottom: 1px solid config.$grey;
      @include mixins.row-space-between-center();

      p {
        display: flex;
        justify-content: center;
        width: 150px;
        white-space: nowrap;

        @include mixins.mobile {
          font-size: small;
        }
      }
    }

    .header {
      background: config.$greyBackground;

      p {
        font-size: small;
      }
    }
  }

  .chart {
    padding: 12px;
    box-shadow: config.$card-shadow;
    background: config.$white;
    width: 100%;
    border: 1px solid config.$grey;
    border-top: none;

    @include mixins.mobile {
      padding: 4px;
    }
  }
}
