@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: config.$max-widthHeigh;
  width: config.$content-width;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .button {
    margin: 20px 0px;
    @include mixins.button(config.$brand, config.$brand, config.$white);
  }

  .inputContainer {
    width: 350px;
    margin: 20px 0px;
    @include mixins.row-space-between-center();

    select {
      @include mixins.input();
      width: 160px;
    }
  }

  .textContainer {
    background: config.$lightGrey;
    border: 1px solid config.$grey;
    width: 100%;
    padding: 12px 4px;
    @include mixins.row-space-between-center();

    .text {
      display: flex;
      flex-direction: row-reverse;
    }

    .name {
      font-weight: bold;
    }

    p {
      margin: 0px 4px;
    }
  }

  .chart {
    padding: 12px;
    box-shadow: config.$card-shadow;
    background: config.$white;
    width: 100%;
    border: 1px solid config.$grey;
    border-top: none;

    @include mixins.mobile {
      padding: 4px;
    }
  }
}
