@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.card {
  margin: auto;
  max-width: config.$max-widthHeigh;
  width: 40%;
  box-shadow: config.$card-shadow;
  background: config.$white;
  border: 1px solid config.$grey;
  direction: rtl;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .row {
    padding: 8px;
    background: config.$greyBackground;
    @include mixins.row-space-between-center();

    .image {
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: config.$white;

      .logo {
        border-radius: 50%;
      }
    }

    .phone {
      margin-left: 5px;
      @include mixins.allDesktop {
        &:hover {
          cursor: pointer;
          color: config.$brand;
        }
      }
    }
  }

  .details {
    padding: 8px;

    .address {
      color: config.$greyText;
    }

    p {
      margin: 20px 0px;
    }
  }
}
