@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.chart {
  width: 100%;
  height: 350px;

  @include mixins.mobile {
    height: 250px;
  }
}

.note {
  text-align: center;
  color: config.$greyText;
  font-size: small;
}
