@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 12px;
  direction: rtl;
  max-width: config.$max-widthHeigh;
  width: config.$content-width;
  font-weight: 300;

  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    width: 100%;
  }
  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.card {
  width: 100%;
  padding: 12px;
  box-shadow: config.$card-shadow;
  background: config.$white;
  border: 1px solid config.$grey;

  .row {
    margin: 8px 0px;
    @include mixins.row-space-between-center();

    .logo {
      position: relative;
      width: 20%;
      height: 70px;
    }

    .phone {
      @include mixins.allDesktop {
        &:hover {
          cursor: pointer;
          color: config.$brand;
        }
      }
    }
  }

  .address {
    margin: 12px 0px;
    color: config.$greyText;
  }
}
