@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.footer {
  margin: 20px auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
}

.navigation {
  @include mixins.row-space-between-center();
  width: 180px;
  direction: rtl;

  .nav {
    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        color: config.$brand;
        font-weight: bold;
      }
    }
  }

  .navActive {
    color: config.$brand;
    font-weight: bold;
  }
}
