@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  justify-content: flex-end;
  margin: 20px auto;
  height: 50px;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;

  @include mixins.mobile {
    width: 100%;
  }
}

.navigation,
.footer {
  @include mixins.row-space-between-center();
  width: 400px;
  margin: auto;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .nav {
    background: config.$white;
    color: config.$brand;
    border: 1px solid config.$brand;
    padding: 8px;

    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        color: config.$white;
        background: config.$brand;
      }
    }
  }

  .navActive {
    background: config.$brand;
    color: config.$white;
    border: 1px solid config.$brand;
    padding: 8px;
  }
}

.footer {
  justify-content: center;
}
