@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.menu {
  display: flex;
  justify-content: flex-end;
  margin: 20px auto;
  height: 50px;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;

  @include mixins.mobile {
    width: calc(100% - 12px);
  }
}

.navigation {
  @include mixins.row-space-between-center();
  width: 150px;

  .nav {
    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        color: config.$brand;
        font-weight: bold;
      }
    }
  }

  .navActive {
    color: config.$brand;
    font-weight: bold;
  }
}
