@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: config.$max-widthHeigh;
  width: config.$content-width;
  padding: 8px;
  margin: auto;
  box-shadow: config.$card-shadow;
  background: config.$white;
  border: 1px solid config.$grey;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .header,
  .information {
    height: 40px;
    @include mixins.row-space-between-center();

    td,
    th {
      width: 100px;
      text-align: center;
    }

    th {
      color: config.$greyText;
      font-weight: 100;
      font-size: small;
    }

    .icon {
      width: 30px !important;
      height: 30px;
    }
  }

  .information {
    margin: 8px 0px;
    background: config.$background;
    border: 1px solid config.$grey;

    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        background: config.$background;
        color: config.$brand;
      }
    }
  }

  .logo {
    position: relative;
    height: 30px;
  }
}
