@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: config.$max-widthHeigh;
  width: config.$content-width;
  padding: 8px 0px;
  margin: auto;
  box-shadow: config.$card-shadow;
  background: config.$white;
  border: 1px solid config.$grey;

  @include mixins.mobile {
    width: calc(100% - 12px);
  }

  .header,
  .information {
    height: 40px;
    @include mixins.row-space-between-center();

    td,
    th {
      width: 100px;
      text-align: center;
    }

    th {
      color: config.$greyText;
      font-weight: 100;
      font-size: small;
    }

    .icon {
      width: 30px !important;
      height: 30px;
    }
  }

  .information {
    margin: 8px 0px;
    background: config.$background;
    border: 1px solid config.$grey;
    border-left: none;
    border-right: none;

    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        background: config.$background;
        color: config.$brand;
      }
    }
  }

  .details {
    @include mixins.row-space-between-center();
    justify-content: flex-start;
    padding: 0px 12px;
    margin: 20px 0px;

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      width: 100%;
    }

    .phone {
      font-weight: bold;
      margin: 0px 20px;

      @include mixins.mobile {
        margin: 0px;
      }
      @include mixins.allDesktop {
        &:hover {
          cursor: pointer;
          color: config.$brand;
        }
      }
    }

    td {
      font-weight: 300;

      @include mixins.mobile {
        font-size: small;
      }
    }
  }

  .logo {
    @include mixins.row-space-between-center();
    justify-content: space-around;

    .image {
      position: relative;
      width: 50px;
      height: 40px;
    }

    p {
      font-size: small;
    }
  }
}
