@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: config.$max-widthHeigh;
  width: config.$content-width;
  padding: 8px 0px;
  margin: auto;
  box-shadow: config.$card-shadow;
  background: config.$white;
  border: 1px solid config.$grey;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .header,
  .information {
    height: 50px;
    @include mixins.row-space-between-center();

    p {
      width: 150px;
      text-align: center;
      color: config.$greyText;
      font-weight: 100;
      font-size: small;
    }

    .icon {
      width: 30px !important;
      height: 30px;
    }
  }

  .information {
    margin: 8px 0px;
    background: config.$background;
    border: 1px solid config.$grey;
    border-left: none;
    border-right: none;

    p {
      color: config.$black;
    }

    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        background: config.$background;
        color: config.$brand;
      }
    }
  }

  .details {
    position: relative;
    @include mixins.row-space-between-center();
    justify-content: flex-start;
    padding: 0px 12px;
    margin: 12px 0px;

    .about {
      position: absolute;
      left: 12px;
      display: flex;
      justify-content: center;
      padding: 4px;
      width: 80px;
      background: config.$greyBackground;

      @include mixins.allDesktop {
        &:hover {
          cursor: pointer;
          background: config.$brand;
          color: config.$white;
        }
      }
    }

    .phone {
      font-weight: bold;
      margin: 0px 20px;

      @include mixins.allDesktop {
        &:hover {
          cursor: pointer;
          color: config.$brand;
        }
      }
    }

    p {
      font-weight: 300;

      @include mixins.mobile {
        font-size: small;
      }
    }
  }

  .image {
    position: relative;
    width: 150px;
    height: 50px;
  }
}
