@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 8px 0px;
  box-shadow: config.$card-shadow;
  background: config.$white;
  border: 1px solid config.$grey;
  margin: auto;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .header,
  .information {
    height: 50px;
    @include mixins.row-space-between-center();

    p {
      width: 150px;
      text-align: center;
      color: config.$greyText;
    }

    .icon {
      width: 30px !important;
      height: 30px;
    }
  }

  .header {
    p {
      font-size: small;
    }
  }

  .note {
    @include mixins.row-space-between-center();
    justify-content: center;
    margin: auto;
    color: config.$greyText;

    p {
      font-size: small;
      margin: 0px 2px;
    }
  }

  .information {
    margin: 8px 0px;
    background: config.$background;
    border: 1px solid config.$grey;
    border-left: none;
    border-right: none;

    p {
      color: config.$black;
    }

    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        background: config.$background;
        color: config.$brand;
      }
    }
  }

  .details {
    position: relative;
    @include mixins.row-space-between-center();
    justify-content: flex-start;
    padding: 0px 12px;
    margin: 12px 0px;

    .about {
      position: absolute;
      left: 12px;
      display: flex;
      justify-content: center;
      padding: 4px;
      width: 80px;
      background: config.$greyBackground;

      @include mixins.allDesktop {
        &:hover {
          cursor: pointer;
          background: config.$brand;
          color: config.$white;
        }
      }
    }

    .phone {
      margin-right: 5px;

      @include mixins.allDesktop {
        &:hover {
          cursor: pointer;
          color: config.$brand;
        }
      }
    }
  }

  .imageContainer {
    @include mixins.row-space-between-center();
    justify-content: center;
    overflow-x: auto;
    width: 150px;
  }

  .image {
    position: relative;
    min-width: 45px;
    height: 45px;
    background: config.$white;
    border-radius: 50px;

    @include mixins.mobile {
      min-width: 35px;
      height: 35px;
      right: 5px;
    }

    .logo {
      border-radius: 50px;
    }
  }

  .name {
    font-size: small;
    line-height: 20px;
  }
}
