@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin: auto;

  @include mixins.mobile {
    width: 100%;
  }

  .notes {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 20px;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }

    p {
      color: config.$greyText;
      font-size: small;
    }
  }

  .table {
    width: 100%;
  }

  .image {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}

.notFound {
  margin: auto;
  width: config.$content-width;
  margin-top: 150px;
  text-align: center;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}
