@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin: auto;

  @include mixins.mobile {
    width: 100%;
  }

  .notes {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: 20px;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }

    p {
      color: config.$greyText;
      font-size: small;
    }
  }

  .table {
    width: 100%;
    margin-bottom: 20px;
  }

  .image {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .navigation {
    @include mixins.row-space-between-center();
    width: 400px;
    margin: auto;
    box-shadow: config.$card-shadow;
    margin-bottom: 8px;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }

    .product,
    .productActive {
      font-size: small;
      background: config.$white;
      color: config.$greyText;
      padding: 4px;
      text-align: center;
      border: 1px solid config.$brand;

      @include mixins.allDesktop {
        &:hover {
          background: config.$brand;
          color: config.$white;
          cursor: pointer;
        }
      }
    }

    .productActive {
      background: config.$brand;
      color: config.$white;
    }
  }
}

.notFound {
  margin: auto;
  width: config.$content-width;
  margin-top: 150px;
  text-align: center;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}
