@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;500&display=swap");

$font: "Vazirmatn", sans-serif;

$black: #0a0a0a;
$white: #ffffff;
$red: #e43137;
$green: #4eba5c;
$grey: #d0d9e1;
$greyText: #748ea6;
$greyBackground: #e7ecf0;
$background: #ffffff;
$brand: #13426b;

$max-widthHeigh: 1500px;
$content-width: 90%;

$image-shadow: rgba(181, 181, 181, 0.2) 0px 2px 8px 0px;
$card-shadow: rgba(181, 181, 181, 0.2) 0px 8px 24px;
$button-shadow: rgba(181, 181, 181, 0.2) 0px 3px 8px;
