@use "config" as config;

$screen-mobile: 700px;
$screen-tablet: 1400px;
$screen-large: 2000px;
$screen-fourK: 6000px;

@mixin mobile {
  @media (max-width: #{$screen-mobile}) {
    @content;
  }
}
@mixin tablet {
  // Landscape orientation
  @media (min-width: #{$screen-mobile}) and (max-width: #{$screen-tablet}) and (orientation: landscape) {
    @content;
  }
}
@mixin tabletPortrait {
  // Portrait orientation
  @media (min-width: #{$screen-mobile}) and (max-width: #{$screen-tablet}) and (orientation: portrait) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$screen-tablet} ) and (max-width: #{$screen-large}) {
    @content;
  }
}
@mixin fourK {
  @media (min-width: #{$screen-large} ) and (max-width: #{$screen-fourK}) {
    @content;
  }
}
@mixin allDesktop {
  @media (min-width: #{$screen-tablet} ) {
    @content;
  }
}

@mixin button($color1, $color2, $subColor) {
  width: 190px;
  height: 40px;
  border: 1px solid $color1;
  color: $subColor;
  box-shadow: config.$button-shadow;
  background: $color2;

  @include desktop {
    &:hover {
      cursor: pointer;
      background: $subColor;
      color: $color2;
    }
  }
}

@mixin input() {
  padding: 12px;
  height: 50px;
  background: config.$white;
  color: config.$black;
  outline: none;
  border: 1px solid config.$grey;
  font-weight: 300;

  &:focus {
    outline: none;
    background: config.$white;
    border: 1px solid config.$brand;
  }
}

@mixin transparentBackground($alpha, $color) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

@mixin row-space-between-center() {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
