@use "config" as config;
@use "mixins" as mixins;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: config.$font;
  line-height: 30px;
}

body {
  background: config.$background;
  user-select: none;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2.2rem;
  @include mixins.mobile {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.7rem;
  @include mixins.mobile {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

.main {
  margin-top: 50px;
  margin-bottom: 100px;
}

.icon {
  cursor: pointer;
}

.alert {
  text-align: center;
  color: config.$red;
  margin: 16px 0px;
}

.appload {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

// input file
label.file input[type="file"] {
  position: absolute;
  top: -1000px;
}
.file {
  display: flex;
  justify-content: center;
  align-items: center;
  color: config.$greyText;
  background: config.$white;
  height: 50px;
  border-radius: 4px;
  border: 1px solid config.$grey;
  cursor: pointer;
}
.file:hover {
  color: config.$brand;
  border: 1px solid config.$brand;
}

.Calendar__day.-selected,
.Calendar__day.-selectedStart,
.Calendar__day.-selectedEnd {
  background: config.$brand !important;
}

.Calendar__monthSelectorItem.-active .Calendar__monthSelectorItemText,
.Calendar__yearSelectorItem.-active .Calendar__yearSelectorText {
  background: config.$brand !important;
}
